@(employeeForm: Form[Employee], id: Int)

@import helper._
@import helper.twitterBootstrap

@main("Edit employee") {

        @helper.form(action = routes.Employees.updateEmployee(id)) {

            <fieldset>

                @helper.inputText(employeeForm("id"), '_label -> "ID")
                @helper.inputText(employeeForm("name"))
                @helper.inputText(employeeForm("email"))
                @helper.inputText(employeeForm("twitterHandle"))
            </fieldset>
            <br>
            <p>
                <input type="submit" class="btn primary" value="submit">
                <a href="@routes.Employees.showEmployees" type="button" class="btn btn-default">back</a>
            </p>
        }
}