@(employeeForm: Form[Employee])(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap

@main("Edit employee") {

        @helper.form(action = routes.Employees.createEmployee) {

            <fieldset>
                @helper.inputText(employeeForm("id"))
                @helper.inputText(employeeForm("name"))
                @helper.inputText(employeeForm("email"))
                @helper.inputText(employeeForm("twitterHandle"))
            </fieldset>
            <br>
            <p>
                <input type="submit" class="btn primary" value="submit">
                <a href="@routes.Employees.showEmployees" type="button" class="btn btn-default">back</a>
            </p>
        }
}