@(employees: List[Employee])(implicit flash: Flash)

@main("Employees") {
    <div class="container">
        <h1>Employees</h1>
        <table class="table table-striped table-condensed col-xs-6">
            <tr>
                <th class="col-xs-2">Name</th>
                <th class="col-xs-2">Email</th>
                <th class="col-xs-1">Twitter Handle</th>
            </tr>
            @for(employee <- employees) {
                <tr>
                    <td class="col-xs-2"><a href="@routes.Employees.showEmployee(employee.id)">@employee.name</a></td>
                    <td class="col-xs-2">@employee.email</td>
                    <td class="col-xs-1">@employee.twitterHandle</td>
                </tr>
            }
        </table>
    </div>
}
