@(employees: List[Employee])(implicit flash: Flash)

@main("Employees") {
            @if(flash.get("success").isDefined) {
                <div class="alert alert-success" role="alert">
                    <p><b>Success: </b>@flash.get("success")</p>
                </div>
            }

            @if(flash.get("error").isDefined) {
            <div class="alert alert-danger" role="alert">
                <p><b>Error: </b>@flash.get("error")</p>
            </div>
            }

        <table class="table table-striped table-condensed col-xs-6">
            <tr>
                <th class="col-xs-2">Name</th>
                <th class="col-xs-2">Email</th>
                <th class="col-xs-1">Twitter Handle</th>
            </tr>
            @for(employee <- employees) {
                <tr>
                    <td class="col-xs-2"><a href="@routes.Employees.showEmployee(employee.id)">@employee.name</a></td>
                    <td class="col-xs-2">@employee.email</td>
                    <td class="col-xs-1">@employee.twitterHandle</td>
                </tr>
            }
        </table>
        <div>
            <br>
            <a href="@routes.Employees.addEmployee" type="button" class="btn btn-default">add</a>
        </div>
}
