@(pageName: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>LunaList | @pageName</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.lunatech.com">
                        <img alt="LT">
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="@routes.Application.index">Home</a></li>
                    <li><a href="@routes.Employees.showEmployees">Employees</a></li>
                </ul>

            </div>
        </nav>
        @content
        <div class="footer">
        </div>
    </body>
</html>
