@(employee: Employee)(implicit flash: Flash)

@main("profile") {
        <div class="container">
            <div class="row row-centered">
                <table class="table-striped table-condensed col-xs-4 col-centered">
                    <tr>
                        <td>name:</td>
                        <td>@employee.name</td>
                    </tr>
                    <tr>
                        <td>email:</td>
                        <td>@employee.email</td>
                    </tr>
                    <tr>
                        <td>twitter handle:</td>
                        <td>@employee.twitterHandle</td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <br>
                <a href="@routes.Employees.showEmployees" type="button" class="btn btn-default">back</a>
            </div>
        </div>
}
